@model IEnumerable<RestaurantReviewer.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurant Directory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                Has Fast Food
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfStores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
                @if (item.IsFast == 1)
                {
                    <td>
                        Yes
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfStores)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Reviews" asp-action="Index" asp-route-id="@item.Id">Reviews</a>
            </td>
        </tr>
}
    </tbody>
</table>
